In [1]:
###Sets in Python

In [15]:
# How to write Sets in Python?

## IMP => We use Curly brackets for creating Sets

# SYNTAX => name_of_set = {value1, value2 ....}

gibran_set = {"Gibran",1,3,15,11,34.5,"Thirty five",41}
gibran_set

{1, 11, 15, 3, 34.5, 41, 'Gibran', 'Thirty five'}

In [5]:
# IMP => In Set, we see above that it sorts the elements according to FIRST CHARACTER only (in Ascending order)
## That is why after 15 we got 3 because after 1 comes 3
#
#
#.

In [9]:
# Can I retrieve elements from set via their Index?
gibran_set[0]

TypeError: ignored

In [17]:
# IMP => This error means we CANNOT retrieve elements via their index ie.
#
#
#
#.

In [18]:
## Can I change a specific element's value in sets?
gibran_set[0] = "Four99" #This is called Item Assignment which is NOT possible in sets

TypeError: ignored

In [13]:
# IMP => This error clear shows in Sets we CANNOT make changes to the specific elements of sets.
#
#
#.

In [16]:
# But we can ADD NEW elements in sets
# IMP => Sets are MUTABLE => Once we create the add new elements to set (New Added element will be added at a position according to the ascending order)

# SYNTAX => name_of_set.add(newvalue1)

gibran_set.add("Gibran7")
gibran_set

{1, 11, 15, 3, 34.5, 41, 'Gibran', 'Gibran7', 'Thirty five'}

In [19]:
#
#
#

In [22]:
# Can REMOVE a specific element based on value in sets

# SYNTAX => name_of_set.remove(value_of_item_to_be_removed)

gibran_set.remove("Thirty five") #Now the item with value as 'Thirty five' will be removed from my Set
gibran_set

{1, 11, 15, 3, 34.5, 41, 'Gibran', 'Gibran7'}