In [1]:
###Lists in Python

In [4]:
# How to write lists in Python?

## We use Square brackets for Lists

# SYNTAX => name_of_list = [value1, value2 ....]

gibran_list = ["Gibran",6,499,8.9]
gibran_list

['Gibran', 6, 499, 8.9]

In [5]:
# In list we have items in form of Array
## This means we can print the elements from Left side. List[0] will be 'Gibran', List[1] will be 3, List[2] will be 499 and so on....

gibran_list[2]

499

In [6]:
# We can also print from the right side
## Example-> List[-1] will be the last element of list, List[-2] will be 2nd last and so on..

gibran_list[-2]

499

In [9]:
# List is HETEROGENOUS => Can have values with different datatypes 
# List is MUTABLE => Once we create the list we can make changes to the elements of List

In [10]:
# How to change element in list?
## Syntax => list[index of the element to be changed] = New Value

# I will change 3rd element 499 to text "Four99"
gibran_list[2] = "Four99"
gibran_list

['Gibran', 6, 'Four99', 8.9]

In [11]:
## Tuples in Python

In [12]:
# How to write Tuples in Python?

## We use Circular brackets for Tuples

# SYNTAX => name_of_tuple = (value1, value2 ....)

gibran_tuple = ("TupleGibran",75,1.47,"Sample")
gibran_tuple

('TupleGibran', 75, 1.47, 'Sample')

In [13]:
# In tuple also we have items in form of Array
## This means we can print the elements from Left side. List[0] will be 'Gibran', List[1] will be 3, List[2] will be 499 and so on....

gibran_tuple[0]

'TupleGibran'

In [16]:
# Can we change element in Tuples?
gibran_tuple(1) = "Four99"
gibran_tuple

SyntaxError: ignored

In [18]:
# Above code error proves that=> Tuple is NOT MUTABLE => Once we create the list we CANNOT make changes to the elements of tuples

# Also, Tuple is HETEROGENOUS => Can have values with different datatypes